*{box-sizing: border-box;
        margin: 0;


}
html ,body{
   background-image:url(/banner.jpg);
   background-repeat:no-repeat;
   background-size:100%;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   
}
nav{
width: 100%;
height: 8%;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(77 131 133);
color:white;
text-transform: capitalize;
align-items: center;


}
body nav ul{
    width: 60%;
   list-style: none;
   display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
body nav ul li{ transition: 1s; -webkit-transition: 1s; -moz-transition: 1s; -ms-transition: 1s; -o-transition: 1s;
}
body nav ul li:hover{
    cursor:pointer;
    transform: scale(1.5);
    color:#ffc107 ;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
nav form {
    margin-right: 5%;
    display: flex;
}
nav form button{ background-color: #ffd900; padding: 6px; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0;
    border-style: none; outline: none;
}
nav form button:hover{
    cursor: pointer;
    background-color:#eeb91c ;
}
nav form input{ background-color: white; padding: 5px; border-radius: 5px 0 0 5px; border-style: none; 
    -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px;
outline: none;
}


.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .input-box{
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.384);
    height: 50%;
    width: 35%;
    border-radius:5%;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
}
.box .input-box h2{
    text-align: center;
    margin: 5%;
    text-transform: capitalize;
}
.box .input-box form{
display: flex;
flex-direction: column;
}
.box .input-box form label {
margin:0 5% 2%;

}
.box .input-box form input{
  margin:0 20% 0 5%; 
  background:none;
  border-style: none;
  outline: none;
}
box .input-box form input:focus-label{
 top: -18px;
}

.box .input-box form .submit {
  margin:5% 20% 0 5%;
  border-radius: 10px;
  background-color: #ffc107;
  width: 84px;
  height: 33px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box .input-box form input:focus-label{
 top: -18px;
}
.box .input-box form .submit:hover{cursor: pointer;}
.box .input-box hr {
   margin:0 20% 0 5%;   
}
